<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MabiSteamLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MabiSteamLauncher.Properties.Settings>
            <setting name="LastAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentAccountSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamDir" serializeAs="String">
                <value />
            </setting>
            <setting name="MabiShortcutDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AltListLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IpAdresses" serializeAs="String">
                <value>35.162.171.43</value>
            </setting>
            <setting name="LogPorts" serializeAs="String">
                <value>59774</value>
            </setting>
            <setting name="ClientDir" serializeAs="String">
                <value />
            </setting>
        </MabiSteamLauncher.Properties.Settings>
    </userSettings>
</configuration>